@model GiftsManager.ViewModels.Shared.GroupDropDownViewModel

<div class="dropdown">
    @if (Model.Groups != null && Model.Groups.Count() > 0)
    {
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownGroupId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Select a group
        </button>

        if (!Model.ReadOnly)
        {
            <div class="addGroupDiv">
                <i class="fa fa-plus fa-lg"></i>
            </div>

            <div class="deleteGroupEvent deleteGroup">
                <i class="fa fa-trash-o fa-lg"></i>
            </div>   
        }

        <ul class="groups dropdown-menu">
            @foreach (var item in Model.Groups)
            {
                <li><a href="#">@item.Text</a></li>
            }
        </ul>
    }
    else
    {
        <label>There is no group for this user</label>
    }
</div>