@model GiftsManager.ViewModels.Shared.EventDropDownViewModel

<div class="dropdown">
    @if (Model.Events != null && Model.Events.Count() > 0)
    {
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownEventId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            @Resources.Global.SelectEvent
        </button>

         if (Model.IsAdmin)
         {
             <div class="addEventDiv">
                 <i class="fa fa-plus fa-lg"></i>
             </div>

             <div class="deleteGroupEvent deleteEvent">
                 <i class="fa fa-trash-o fa-lg"></i>
             </div>
         }

        <ul class="events dropdown-menu">
            @foreach (var item in Model.Events)
            {
                <li><a href="#">@item.Text</a></li>
            }
        </ul>
    }
    else
    {
        <label>@Resources.Global.NoEvent</label>

        if (Model.IsAdmin)
        {
            <a id="addEventLink" href="#">@Resources.Global.AddEvent</a>
        }
    }
</div>